#info {
	position: absolute;
	font-size:xx-large;
	bottom: 200px;
	width: 100%;
	z-index: 100;
	display:block;
    color:white;
}

#ptype {
	position: inherit;
	right: 900px;
}

#ntype {
	position: inherit;
	left: 900px;
}

#positive {
	position: inherit;
	top: 80px;
	right: 875px;
}

#negative {
	position: inherit;
	top: 80px;
	left: 875px;
}