#info {
	position: absolute;
	font-size:xx-large;
	bottom: 200px;
	width: 100%;
	z-index: 100;
	display:block;
    color:white;
}

#ptype {
	position: inherit;
	left: 825px;
}

#ntype {
	position: inherit;
	right: 825px;
}
